* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  background-color: darkgrey;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
  background:linear-gradient(#e66465,#9198e5);
  background-repeat: no-repeat;
  background-attachment: fixed;

}
  
#container{
  text-align: crnter;
  margin: 0 auto;
  margin:0 auto;
  position: absolute;
  justify-content: center;

  align-items: center;

}
/* .modal-lg{
  max-width: 60% !important;
} */

h2 {
  text-align: center;
  color: rgb(86, 166, 219);
  margin-top: 30px;
  margin-bottom: 20px;
}
#inputdata {
  width: 350px;
  padding: 16px 20px;
  border: 1px solid black;
  border-radius: 4px;
  background-color: #f1f1f1;
   margin-bottom: 10px;
  margin-top: 30px; 
  margin:0 auto;   
}


.phonelistitem  {
    margin: 0 auto;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  justify-content: center;
  height: 700px;
  width: 800px;
}
.details{
  padding: 10px 20px;
  text-align: center;
  font-size: 12px;
  color:#e66465;
  background-color: rgb(228, 217, 210);
  border: none;
}

.phone-pic {
  border-radius: 15px;
}
